
body {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Ubuntu', cursive;
  b-ackground-color: #555;
}

.container {
  max-width: 800px;
}

#page {
  margin: 1em auto;
  padding: 1em 1em 1em 1em;
  b-ackground-color: #fff;
}

#page .logo {
  margin: 0 0 2em 0;
}

#page h1 {
  font-weight: bolder;
  margin: 0;
  text-transform: uppercase;
}

#page .message {
  margin: 0.2em 0 0.2em 0;
  padding: 0.2em 0.2em 0.2em 0.2em;
}

#page .message.mine {
  background-color: #ecf0f1;
}

#page .timestamp {
  font-size: 0.8em;
  color: #999;
}

#page label.author {
  display: inline-block;
}

#page ul {
  list-style-type: none;
  padding: 0;
}

#page li {
  margin: 0.5em 0 0 0;
}

footer {
   
}


